@{
    ViewData["Title"] = "About Page";
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Positive Reachout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="/Home/About" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/Home/Causes" class="nav-link">Causes</a></li>
                <li class="nav-item"><a href="/Home/Gallery" class="nav-link">Gallery</a></li>
                @*<li class="nav-item"><a href="/Home/Events" class="nav-link">Events</a></li>*@
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap" style="background-image: linear-gradient(rgba(1, 3, 12, 0.38), rgba(6, 1, 5, 0.53)), url('../images/bg_7.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(../images/cause-6.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="mb-4">
                    What We Do:
                </h2>
                <p>
                    <b>Life Improvement:</b> Mental health workshops, health and wellness fairs, distribution of children's books, tablets, and toys, arts and crafts/cooking/baking classes or events, etc.
                </p>
                <p>
                    <b>Economic Empowerment:</b> Job acquisition, vocational training, skills development, resume writing, mock interviews, MS Office Suite training, IT/Social innovative workshops, computer software training (accounting, logistics, procurement, and warehouse management), investment seminars, etc.
                </p>
                <p>
                    <b>Poverty Alleviation:</b> Food accessibility through food banks, lodging through shelters.
                </p>
                <p>
                    <b>Community Support and Inclusion:</b> Anti-racism events and programs, multicultural and community events, children's talent shows, youth sports tournaments, counseling sessions to support victims of domestic violence, bullying, and depression, computer hardware donations, household items donations, etc.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-intro ftco-intro-2 mb-5" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Vision Statement:</h3>
                        <p>
                            To be the light of positive change for communities and individuals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Mission Statement:</h3>
                        <p>
                            To empower individuals and uplift communities for a better future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Objective:</h3>
                        <p>
                            To provide services for communities and individuals to improve their lives, empower them economically, alleviate poverty, and foster community inclusion, enabling them to achieve their aspirations and purposes regardless of age, gender, language, race, or cultural background.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

