@{
    ViewData["Title"] = "Causes Page";
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Positive Reachout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                <li class="nav-item active"><a href="/Home/Causes" class="nav-link">Causes</a></li>
                <li class="nav-item"><a href="/Home/Gallery" class="nav-link">Gallery</a></li>
                @*<li class="nav-item"><a href="/Home/Events" class="nav-link">Events</a></li>*@
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap" style="background-image: linear-gradient(rgba(1, 3, 12, 0.38), rgba(6, 1, 5, 0.53)), url('../images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Causes</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Causes</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/PositiveReachout16.jpg);"></a>
                    <div class="text p-3 p-md-4">
                        <h3><a href="#">Healthcare Clinics</a></h3>
                        <p>We establish healthcare clinics to provide essential medical services to underserved populations. These clinics offers primary healthcare, vaccinations, maternal and child health services, HIV/AIDS testing and treatment, and access to essential medications.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/PositiveReachout18.jpg);"></a>
                    <div class="text p-3 p-md-4">
                        <h3><a href="#">Educational Centers</a></h3>
                        <p>We establish educational centers, schools, or learning hubs to promote literacy, numeracy, and skill development. These facilities offers formal education programs, vocational training, adult literacy classes, and computer literacy courses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/PositiveReachout.jpg);"></a>
                    <div class="text p-3 p-md-4">
                        <h3><a href="#">Childcare Centers</a></h3>
                        <p>We establish childcare centers / daycare facilities to support working parents and ensure the well-being of young children. These centers offer safe and nurturing environments for children to learn, play, and receive early childhood education.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/PositiveReachout17.jpg);"></a>
                    <div class="text p-3 p-md-4">
                        <h3><a href="#">Shelters and Housing</a></h3>
                        <p>We provide shelters and housing facilities for vulnerable populations, including homeless individuals, refugees, and survivors of domestic violence. These facilities offer temporary or long-term housing, along with support services such as counseling, job training, and legal assistance.</p>
                     </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/PositiveReachout3.jpg);"></a>
                    <div class="text p-3 p-md-4">
                        <h3><a href="#">Food Distribution Centers</a></h3>
                        <p>Our NGO provides food distribution centers or food banks to address food insecurity and hunger. These facilities collect, store, and distribute food to individuals and families in need, often partnering with food manufacturers, retailers, and community organizations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/cause-1.jpg);"></a>
                    <div class="text p-3 p-md-4">
                        <h3><a href="#">Water and Sanitation Projects</a></h3>
                        <p>We implement water and sanitation projects to improve access to clean water and sanitation facilities in underserved communities. These projects include drilling wells, constructing water pumps, building latrines, and promoting hygiene education.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
        </div>
    </div>
</section>

<section class="ftco-section-3 img" style="background-image: url(../images/PositiveReachout.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-2 align-self-stretch" style="background-image: url(../images/image3.jpg);"></div>
            </div>
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h3 class="mb-3">Be a volunteer</h3>
                <form action="#" class="volunter-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
