@{
    ViewData["Title"] = "Events Page";
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        @*<a class="navbar-brand" href="index.html">Positive Reachout Centre</a>*@
        <a class="navbar-brand" href="/Home/Index"> <img src="/images/PositiveReachlogo.png" style="height:80px; width:200px;" alt="logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                @*<li class="nav-item"><a href="/Home/Causes" class="nav-link">Causes</a></li>*@
                <li class="nav-item"><a href="/Home/Gallery" class="nav-link">Gallery</a></li>
                <li class="nav-item active"><a href="/Home/Events" class="nav-link">Events</a></li>
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

@*<div class="hero-wrap" style="background-image:linear-gradient(rgb(1 3 12 / 76%), rgb(6 1 5 / 68%)), url('../images/bg_5.jpg');" data-stellar-background-ratio="0.5">*@
<div class="hero-wrap" style="background-image:linear-gradient(rgb(1 3 12 / 76%), rgb(6 1 5 / 68%)), url('../images/image_6.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Event</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Events</h1>
            </div>
        </div>
    </div>
</div>


@*<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-1.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-2.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-4.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-5.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-6.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">World Wide Donation</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Latest Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/PositiveReachout7.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Vocational Training, Career Development seminars</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>We support of individuals, newcomers, women, youth with vocational training services, career development programs etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/Medical.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Mental health talks, Physical Health programs</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>Support for individuals and communities on physical and mental health support through talks, events, workshops and activities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Summer Camp, children sports engagement</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>We advocate for children, provide toys, children books, organize summer camp, promote and develop theirs skills & talents etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/PositiveReachout3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Food Distribution Centers</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>Support in food distribution or food banks to address food insecurity and hunger.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/PositiveReachout17.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Shelters and Housing</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>support in shelters and housing facilities for vulnerable populations, including homeless individuals, refugees, and survivors of domestic violence.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/Youth.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Youth Programs & services</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>Engaging the youth or young people in sporting activities/events, career development, coaching or conversation events, skills & talents workshop, mental wellness talk, resume & cover letters writing, interviews preparations, job searching professional software learning support etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/Senior.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Supporting the seniors with social connections</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>Arts & crafts events, cooking & baking classes, visitation, physical & mental health classes and activities, Snow angel etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/Community.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Community Outreach Programs</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>Cultural events, anti-racism events, community projects & development, parks upgrades, food bank etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/Gallery7.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Gender Based Violence</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>Empowering women and girls across their lifetime. Empowering women economically, provides free support to individuals who are involved or at risk of being involved in any firm of abuse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
