@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        @*<a class="navbar-brand" href="/Home/Index">Positive Reach out</a>*@
        <a class="navbar-brand" href="/Home/Index"> <img src="/images/PositiveReachlogo.png" style="height:80px; width:200px;" alt="logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/Home/Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                @*<li class="nav-item"><a href="/Home/Causes" class="nav-link">Causes</a></li>*@
                <li class="nav-item"><a href="/Home/Gallery" class="nav-link">Gallery</a></li>
                <li class="nav-item"><a href="/Home/Events" class="nav-link">Events</a></li>
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap" style="background-image:linear-gradient(rgb(1 3 12 / 76%), rgb(6 1 5 / 68%)),  url('../images/PositiveReachout9.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">In a world where compassion fuels progress and kindness bridges gaps</h1>
                <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@*donating to non-governmental organizations (NGOs) stands as a powerful gesture of support and solidarity.*@</p>

                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://vimeo.com/45830194" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch Video</a></p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Vision Statement:</h3>
                        <p>
                            @*To be the light of positive change for communities and individuals.*@
                            To become the premier nonprofit organization committed to fostering positive transformation within communities and individuals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Mission Statement:</h3>
                        <p>
                            To empower individuals and uplift communities for a better future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Objective:</h3>
                        <p>
                            To provide services for communities and individuals to improve their lives, empower them economically, alleviate poverty, and foster community inclusion, enabling them to achieve their aspirations and purposes regardless of age, gender, language, race, or cultural background.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Our values:</h3>
                        <p>
                            Compassion, Collaboration, Diversity, Respect, Equality, Integrity, Innovative, Inclusiveness, Professionalism
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">@*Make *@Donation</h3>
                        <p>Your donation is investment in a change and brighter future.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">@*Become A *@Volunteer</h3>
                        <p>volunteering for Positive Reach Out is not merely an act of altruism; it's a testament to the power of collective action, the resilience of the human spirit, and the transformative potential of empathy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 d-flex services p-3 py-4 d-block">
                    <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
                    <div class="media-body pl-4">
                        <h3 class="heading">Sponsor@*ship*@</h3>
                        <p>sponsoring Positive Reach Out stands as a powerful testament to an organization's commitment to positive change.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">What We Do</h2>
                <p>@*we believe in the transformative power of compassion, solidarity, and collective action.*@</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/Medical.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Mental health talks, Physical Health programs</a></h3>
                                <p>We support the individuals and communities on physical and mental health support through talks, events, workshops and activities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/PositiveReachout7.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Vocational Training, Career Development seminars</a></h3>
                                <p>We support of individuals, newcomers, women, youth with vocational training services, career development programs etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/PositiveReachout.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Summer Camp, children sports engagement</a></h3>
                                <p>We advocate for children, provide toys, children books, organize summer camp, promote and develop theirs skills & talents etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/PositiveReachout17.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Shelters and Housing</a></h3>
                                <p>We support in shelters and housing facilities for vulnerable populations, including homeless individuals, refugees, and survivors of domestic violence. These facilities offer temporary or long-term housing, along with support services such as counseling, job training, and legal assistance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/PositiveReachout3.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Food Distribution Centers</a></h3>
                                <p>We support in food distribution or food banks to address food insecurity and hunger. These facilities collect, store, and distribute food to individuals and families in need, often partnering with food manufacturers, retailers, and community organizations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/Youth.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Youth Programs & services</a></h3>
                                <p>Engaging the youth or young people in sporting activities/events, career development, coaching or conversation events, skills & talents workshop, mental wellness talk, resume & cover letters writing, interviews preparations, job searching professional software learning support etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/Senior.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Supporting the seniors with social connections</a></h3>
                                <p>Arts & crafts events, cooking & baking classes, visitation, physical & mental health classes and activities, Snow angel etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/Community.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Community Outreach Programs</a></h3>
                                <p>Cultural events, anti-racism events, community projects & development, parks upgrades, food bank etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url(../images/Gallery7.jpg);"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="#">Gender Based Violence</a></h3>
                                <p>Empowering women and girls across their lifetime. Empowering women economically, provides free support to individuals who are involved or at risk of being involved in any firm of abuse</p>
                            </div>
                        </div>
                    </div>
                    @*<div class="item">
                    <div class="cause-entry">
                    <a href="#" class="img" style="background-image: url(../images/cause-1.jpg);"></a>
                    <div class="text p-3 p-md-4">
                    <h3><a href="#">Water and Sanitation Projects</a></h3>
                    <p> We implement water and sanitation projects to improve access to clean water and sanitation facilities in underserved communities. These projects include drilling wells, constructing water pumps, building latrines, and promoting hygiene education.</p>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Team</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(../images/Adetunji.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Adetunji Ishola</a></h3>
                            <div class="text">
                                <p>Chair</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(../images/AdefunkeOladapo.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Adefunke Oladapo</a></h3>
                            <div class="text">
                                <p>Vice Chair</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(../images/BisolaAbe.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Bisola Abe</a></h3>
                            <div class="text">
                                <p>Secretary</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(../images/BolawaleIshola.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Bolawale Ishola</a></h3>
                            <div class="text">
                                <p>Treasurer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery mb-5">
    <div class="d-md-flex">
        <a href="~/images/PositiveReachout.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="~/images/PositiveReachout2.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout2.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="~/images/PositiveReachout3.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout3.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="~/images/PositiveReachout5.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout5.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
    <div class="d-md-flex">
        <a href="~/images/PositiveReachout6.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout6.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="~/images/PositiveReachout7.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout7.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="~/images/PositiveReachout10.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout10.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="~/images/PositiveReachout11.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../images/PositiveReachout11.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
</section>

@*<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Latest Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/PositiveReachout7.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Vocational Training, Career Development seminars</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>We establish educational centers, schools, or learning hubs to promote literacy, numeracy, and skill development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/PositiveReachout16.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Mental health talks, Physical Health programs</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>We establish Mental health talks, Physical Health programs to provide essential medical services to underserved populations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/event-3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Summer Camp, children sports engagement</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>We advocate for children, provide toys, children books, organize summer camp, promote and develop theirs skills & talents etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../images/PositiveReachout3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2024</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Food Distribution Centers</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue: 114 Red Sky Crescent NE Calgary AB T3N 1P8</span></p>
                        <p>We support in food distribution or food banks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="ftco-section-3 img mt-5" style="background-image: url(../images/PositiveReachout.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-2 align-self-stretch" style="background-image: url(../images/image3.jpg);"></div>
            </div>
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h3 class="mb-3">Be a volunteer</h3>
                <form action="#" class="volunter-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
